/* stat variables  */
:root {
  --main-color: #10cab7;
  --secandery-color: #2c4755;
  --section-padding: 60px;
  --line-height18: 1.8;
  --section-color: #f6f6f6;
}
/* end variable*/

/* satrt globle rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.parent {
  background-color: #eee;
}

.container {
  width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 374px) {
  .container {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end globle rules  */
/* start component */
.special-heading {
  margin: 0;
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
  text-align: center;
  letter-spacing: -3px;
}
.special-heading + p {
  margin: -30px 0 0;
  text-align: center;
  color: #797979;
}
@media (max-width: 768px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading + p {
    margin: -20px 0 0;
  }
}
.grid-2 {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}
.pad-60 {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
 
}
.pad-60-clr {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
/* end  component */
/* start header  */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 60px;
}

.header .links {
  position: relative;
}
.header .links:hover .icon :nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span {
  height: 2px;
  margin-bottom: 5px;
  background-color: #333;
}

.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 200px;
  background-color: #f6f6f6;
  right: 0;
  top: calc(100% + 20px);
  position: absolute;
  display: none;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  top: -20px;
  right: 5px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .links ul li:hover {
  padding-left: 15px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* end header  */

/* start loading section */
.landing {
  background-image: url(../image/tyler-lastovich-jQpht1LrDQQ-unsplash.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  z-index: -1;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0px;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end loading section */
/* start features */

.features .feat {
  text-align: center;
  padding: 20px;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  color: #777;
  line-height: var(--line-height18);
  font-size: 17px;
}
/* start service */
.services .services-content {

  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width:767.78px){
  .services .services-content {
      
      margin-bottom: 0;
    }
}
.services .services-content .serv {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
  
}

.services .services-content .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .serv .text {
  flex: 1;
}
.services .services-content .serv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .serv .text p {
  color: #444;
  font-weight: 300;
  line-height: var(--line-height18);
}
.services .services-content .image {
  position: relative;
  text-align: center;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 130%;
  background-color: var(--secandery-color);
  right: 0%;
  top: -15%;
  z-index: -2;
}
.services .services-content .image img {
  width: 260px;
}
@media (max-width: 991.11px) {
  .image-media {
    display: none;
  }
}

/* .end features */
/* start portfolo */
.portfolo .portfolo-content {
  margin: 80px;

}
@media (max-width: 768.25px) {
  .portfolo .portfolo-content {
    margin: 50px 0px 0px;
  }
}

.portfolo .portfolo-content .card {
  background-color: white;
}
.portfolo .portfolo-content .card .info {
  padding: 20px;
}
.portfolo .portfolo-content .card img {
  max-width: 100%;
}

.portfolo .portfolo-content .card .info h3 {
  margin: 0;
}

.portfolo .portfolo-content .card .info p {
  color: #444;
  font-weight: 8000;
  line-height: var(--line-height18);
  margin-bottom: 0;
}
/* end portfolo */
/* start about */
.about .about-content {
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991.25px) {
  .about .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
  }
}
.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
}
@media (max-width: 991.25px) {
  .about .about-content .image {
    margin: 0 0 80px;
  }
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  height: calc(100% + 185px);
  width: 100px;
  background-color: #ebeced;
  left: -10px;
  top: -55px;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 260px;
  border-left: 80px solid var(--main-color);
  border-bottom: 70px solid var(--main-color);
  top: -20px;
  right: -157px;
  z-index: -1;
}
@media (max-width: 991.25px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image {
  width: 250px;
  height: 300px;
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}

/* end about */
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .lebel {
  color: var(--secandery-color);
  font-size: 35px;
  letter-spacing: -2px;
  font-weight: 800;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-size: 16px;
}

.contact .info .social i {
  color: var(--secandery-color);
  margin-left: 10px;
}
@media (max-width: 766.5px) {
  .contact .info .link,
  .contact .info .lebel {
    font-size: 25px;
  }
}

/* end contact */
/* start footer */
.footer {
  background-color: var(--secandery-color);
  text-align: center;
  padding: 30px 10px;
  font-size: 18px;
  color: white;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* end footer */
